# for ros2 worksp
build/
install/
log/

# python
__pycache__/
*.pyc
*.pyo

.vscode/

# obsidian
document/.obsidian/
document/2025/AdvPractice/
document/2025/IntPractice/
document/2025/Research/asset/videos/

# video
camera_ws/src/GraspEverything/videos/

camera_ws/src/calib_c920
camera_ws/src/grasp_everything/grasp_everything/agents/

# CLI
AGENTS.md