[submodule "camera_ws/src/apriltag_ros"]
	path = camera_ws/src/apriltag_ros
	url = https://github.com/christianrauch/apriltag_ros.git
[submodule "camera_ws/src/apriltag_msgs"]
	path = camera_ws/src/apriltag_msgs
	url = https://github.com/christianrauch/apriltag_msgs.git
